* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px 20px;
  background-color: #fafafa;
}

img {
  display: block;
}

.container {
  width: 400px;
  height: 105px;
  background-color: #edeafd;
  padding: 26px;
  overflow: hidden;
  border-radius: 16px;
  font-family: "Roboto", sans-serif;
  transition: 0.6s ease-out;
  display: grid;
  grid-template-rows: min-content auto min-content;
  justify-content: space-evenly;
  border-radius: 50px;
  background: #ffffff;
  box-shadow: 8.41px 8.41px 13px #E8E8E8, -8.41px -8.41px 13px #FFFFFF;
}

.search-box {
  width: 100%;
  height: min-content;
  display: flex;
  align-items: center;
  gap: 10px;
}

.search-box input {
  color: #141414;
  width: 80%;
  font-size: 1.5rem;
  font-weight: 500;
  text-transform: capitalize;
  padding: 10px 12px;
  border-radius:10px;
  background: #ffffff;

}
.search-box input:focus {
 
}

.search-box input::placeholder {
  font-size: 1.25rem;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.5);
  text-transform: uppercase;
}

.search-box button {
  cursor: pointer;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  font-size: 1.25rem;
  color: #fff;
  background: #000;
  transition: 0.4s ease;
}

.search-box button:hover {
  color: #000;
  background-color: #fff;
  box-shadow: 8.41px 8.41px 13px #E8E8E8, -8.41px -8.41px 13px #FFFFFF;

}

.search-box i {
  font-size: 1.5rem;
  color: #000;
}

.weather-box {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.weather-box img {
  width: 70%;
}

.weather-box .temperature {
  color: #000;
  font-size: 4rem;
  font-weight: 500;
}

.weather-box .temperature span {
  position: absolute;
  margin-left: 4px;
  margin-top: 8px;
  font-size: 1.5rem;
}

.weather-box .description {
  color: #141414;
  font-size: 1.375rem;
  font-weight: 500;
  text-transform: capitalize;
}

.weather-details {
  width: 100%;
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
  color: #141414;
  gap: 20px;
}

.weather-details .humidity,
.weather-details .wind {
  display: flex;
  align-items: center;
  gap: 20px;
}

.weather-details i {
  font-size: 26px;
  color: #000;
}

.weather-details span {
  font-size: 1.375rem;
  font-weight: 500;
}

.weather-details p {
  font-size: 0.85rem;
  font-weight: 500px;
  color: #313131;
}
.not-found {
  width: 100%;
  text-align: center;
  scale: 0;
  opacity: 0;
  display: none;
}

.not-found img {
  width: 70%;
  justify-self: center;
}

.not-found p {
  color: #06283d;
  font-size: 22px;
  font-weight: 500;
  margin-top: 12px;
  justify-self: center;
}

.weather-box,
.weather-details {
  scale: 0;
  opacity: 0;
}

.fadeIn {
  animation: 0.5 fadeIn forwards;
  animation-delay: 0.5s;
}

@keyframes fadeIn {
  to {
    scale: 1;
    opacity: 1;
  }
}
@media (max-width: 460px) {
  .container {
    height: 80px;
    padding-top: 18px;
  }

  .search-box input {
    width: 80%;
    padding: 10px;
    font-size: 1.25rem;
  }

  .search-box input::placeholder {
    font-size: 1rem;
  }

  .search-box button {
    width: 42px;
    height: 42px;

    font-size: 1rem;
  }

  .search-box i {
    font-size: 1.25rem;
  }
  .container {
    grid-template-rows: min-content min-content min-content;
  }
}

@media (max-width: 360px) {
  .search-box input {
    padding: 10px;
    font-size: 1rem;
  }

  .search-box button {
    width: 32px;
    height: 32px;
    font-size: 1rem;
    border-radius: 40%;
  }

  .weather-details i {
    font-size: 22px;
  }

  .weather-details span {
    font-size: 1.25rem;
    font-weight: 500;
  }
}
